repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [--autofix]
      - id: check-toml
      - id: sort-simple-yaml
      - id: check-yaml
      - id: check-json
      - id: check-illegal-windows-names
      - id: check-case-conflict
      - id: name-tests-test
        args: [--pytest-test-first]
  - repo: local
    hooks:
      - id: pyupgrade
        name: pyupgrade
        entry: poetry run pyupgrade --py314-plus
        language: system
        types: [python]
      - id: ruff
        name: ruff
        entry: poetry run ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: poetry run ruff format
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy --explicit-package-bases
        language: system
        types: [python]
      - id: commitizen
        name: commitizen
        entry: poetry run cz check --commit-msg-file
        language: system
        stages: [commit-msg]
      - id: pip-audit
        name: pip-audit
        entry: poetry run pip-audit
        language: system
        pass_filenames: false
      - id: deptry
        name: deptry
        entry: poetry run deptry .
        language: system
        pass_filenames: false
